@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  margin: 0;
}
/* home section's css code starts here  */
* {
  box-sizing: border-box;
}
.home_section {
  background-image: url(assets/images/home_background.png);
  background-size: cover;
}

/* header section's code starts here */

.header {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30.5px;
}

.header-left {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-left a {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  color: white;
  text-decoration: none;
  align-items: center;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.header-right a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-right-img {
  margin-right: 12px;
}

.header-right a {
  display: flex;
  align-items: center;
}

.series {
  display: flex;
  max-width: 1280px;
  margin: auto;
  gap: 32px;
  margin-top: 70px;
}

.series_h1 {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}
.series_span {
  color: #02e7f5;
  font-weight: 700;
}

.series_select {
  height: 36px;
  background-color: transparent;
  width: 134px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
  border: 1px solid #f0eaea;
  outline: none;
}

.home_section_info {
  max-width: 1280px;
  margin: auto;
  padding-bottom: 170px;
}
.big-logo {
  margin-top: 122px;
}

.watch_now_btn {
  width: 195px;
  height: 48px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 14%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #1a1d29;
}
.watch_now_btn:hover, .more_info_btn:hover{
   cursor: pointer;
}
.watch_now_btn:active, .more_info_btn:active{
  transform: scale(0.98);
}

.more_info_btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 270px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 14%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}
.btns_container{
  display: flex;
  gap: 24px;
}

.movie_info {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #ffffffcc;
  max-width: 719px;
  margin-bottom: 32px;
}
.movie_catalog {
  background-color: #1a1d29;
}

.largeImg {
  width: 240px;
  height: 361px;
}

.catalog_name {
  max-width: 1280px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}

.catalogs {
  max-width: 1280px;
  display: flex;
  gap: 20px;
  margin: auto;
  padding-bottom: 56px;
}
.catalogs img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
/* footer section's code starts here */
.footer {
  background: #090b13;
  padding-top: 55px;
  color: white;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.foooter_links a {
  color: white;
  text-decoration: none;
}

.foooter_links {
  margin-top: 37px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_info {
  max-width: 440px;
  margin: auto;
  margin-bottom: 41px;
}
.footer_copyright {
  margin-bottom: 0;
  padding-bottom: 26px;
}
.series_h1 {
  margin: 0;
}
